@page "/counter"

<h1>Counter</h1>

@* <RazorClassLibrary.Pages.CustomIntelliSenseAddEdit Id="82421" >

 </RazorClassLibrary.Pages.CustomIntelliSenseAddEdit>

*@
  <RazorClassLibrary.Pages.Languages > 

  </RazorClassLibrary.Pages.Languages>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
