@page "/"
@using System.Diagnostics;
@using RazorClassLibrary.Pages

<button class="btn btn-success" type="button" @onclick="@( ( ) => LaunchVoiceAdmin(  ) )">Web</button>
<h2>Voice Admin</h2>



<MauiLauncherTable CategoryId="0"/>


