@page "/Languages"

<h1>Languages</h1>

@* <RazorClassLibrary.Pages.CustomIntelliSenseAddEdit Id="82421" >

 </RazorClassLibrary.Pages.CustomIntelliSenseAddEdit>

*@
  <RazorClassLibrary.Pages.Languages > 

  </RazorClassLibrary.Pages.Languages>
