@if (VoiceCommandContent != null && VoiceCommandContent.Content != null)
{

	<tr>
		<td>
			@VoiceCommandContent!.Type
			<button class="btn btn-primary btn-sm" type="button"
				@onclick="@( ( ) => CopyTextToClipboard(VoiceCommandContent!.Content ?? "") )">Copy Code</button>
		</td>
		<td style="max-width:900px" colspan="5">
			@{
				var languageClass = "text-dark";
				if (VoiceCommandContent != null && VoiceCommandContent.Type != null)
				{
					if (
					VoiceCommandContent!.Type.ToLower().Contains("basic") ||
					VoiceCommandContent.Type.ToLower().Contains("script"))
					{
						languageClass = "language-visual-basic";
					}
				}
			}
			<pre><code class="@languageClass">@VoiceCommandContent?.Content</code></pre>
		</td>
	</tr>
}
