/* Horizontal navbar adjustments */
.navbar-brand {
    font-weight: 600;
}

.navbar-nav .nav-link.active {
    font-weight: 600;
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .navbar-nav .nav-link {
        padding-left: .75rem;
    }
}
