.page {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

article.content {
    flex: 1;
    padding: 1.25rem 2rem;
    /* Ensure content starts flush under top (no extra bar) */
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 3.0rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-row ::deep a {
    text-decoration: none;
    margin-left: 1rem;
    white-space: nowrap;
}

.top-row ::deep a:hover {
    text-decoration: underline;
}

@media (max-width: 640.98px) {
    .page {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
