@page "/smart-components"
<h1>AI Smart Components Available</h1>

<a class='btn-link' href="/smartpaste">Smart Paste</a>
<br />
<a class='btn-link' href="/smart-select-component-example">Combo Box Semantic Matching</a>
<br />
<a class='btn-link' href="/smarttextareasample">Text Area Completions</a>
<br />
@if (Environment.MachineName == "J40L4V3")
{
    <h3>Other AI Enhancements Available</h3>

    <a class='btn-link' href="/chat">AI Chatbot</a>
    <br />
    <a class='btn-link' href="/aipictures">AI Pictures</a>
    <br />
}
