
.layout-as-cards {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    text-decoration: none;
    justify-content:space-evenly  ;
    
}

.card {
    box-shadow: grey 2px 2px;
    background-color: var(--panel-bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
    margin:1rem;
}
