.layout-as-cards {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    text-decoration: none;
    justify-content: space-evenly;

}

.card {
    box-shadow: grey 2px 2px;
    background-color: var(--panel-bg);
    color: var(--text);
    margin: 2px;
}

a {
    text-decoration: none;
    color: var(--text);
    margin: 1rem;
}

.card-text {
    color: greenyellow;
    margin: 1rem;
}