.layout-as-cards {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	text-decoration: none;
	gap: 3px;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--panel-bg);
    color: var(--text);
    border: 1px solid var(--panel-border-color);
    border-radius: 4px;
}

.card button {
    width: 100%;
}

.button-group {
    display: flex;
    gap: 5px;
    justify-content: center;
}
