    .code {
      font-family: "Cascadia Code",monospace;
      font-size: 14px;
      line-height: 1.5;
      padding: 10px;
      color:white;
      background-color: darkgrey;
      width:100%;
      display:block
    }
