@page "/formatters"

<h1>FORMATTERS</h1>
<ol style='font-size:30px'>
    <li> camel</li>

    customerName

    <li> smash</li>

    customername

    <li>all down</li>

    customer name

    <li>all up</li>

    CUSTOMER NAME

    <li> sentence</li>

    Customer name

    <li> title</li>

    Customer Name

    <li> dub string</li>

    "customer name"

    <li> string</li>

    'customer name'
    <li> dotted </li>
    customer.name
</ol>