@page "/Googlecalendar"
<h4>Calendar</h4>

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FLondon&src=bXBoaWxsaXBzb24wQGdtYWlsLmNvbQ&src=MnRpNjdkcG9yZGpjdDFyNjg2ZmZpcTY0cTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZmpscnBldGNvZmt2ZGViMzc2NXNrdnBhOWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=bnU3bHJlbWxwcW0xcmhndWZxaDA1MnFtN29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=azZuNmVlbGRjYWZqcWlyM2s5Nmh0bWY0bjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237986CB&color=%234285F4&color=%23F6BF26&color=%23009688&color=%23EF6C00&color=%239E69AF" style="border:solid 1px green" width="1500" height="850" frameborder="0" scrolling="no"></iframe>
