.layout-as-cards {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	text-decoration: none;
	gap: 3px;
}

	.layout-as-cards a {
		text-decoration: none;
		margin: 10px;
	}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.card img {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.card i.fa-rocket {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.card a.btn, 
.card button.btn-outline-success {
    width: 100%;
    color: #28a745 !important;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card a.btn span, 
.card button.btn-outline-success span {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.card a.btn:hover, 
.card button.btn-outline-success:hover {
    color: white !important;
    background-color: #28a745;
}

.card a.btn:hover img, 
.card button.btn-outline-success:hover img,
.card a.btn:hover i, 
.card button.btn-outline-success:hover i {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.card .btn-group {
    width: 100%;
    display: flex;
    gap: 5px;
    order: 2;
}

.card .btn-narrow {
    flex: 0 0 40px;
}

.card-title {
    color: #dcdde8;
    width: 100%;
    text-align: center;
}
