@page "/loading";

@*
<div class="ballscontainer red"></div>
<br>
<div class="ballscontainer yellow"></div>
<br>
<div class="ballscontainer green"></div>
<br>

<h2 class="animate__animated animate__bounce text-center">Will be right with you.. 🚀</h2>
*@
<div class="circle"></div>
<h3 class="animate__animated animate__bounce animate__delay-2s animate__bounceOut text-center">This should only take a
	sec ✈</h3>
<section class="text-center animate__animated animate__bounce animate__delay-5s">
	<button class="btn btn-outline-warning btn-xl" type="button" @onclick="@( ( ) => GoHome() )">Abort Process</button>
</section>
