@page "/overspill"
<PageTitle>Menu Overview</PageTitle>

<div class="container-fluid">
    <div class="row g-3">
        <!-- Development Tools -->
        <div class="col-12 col-lg-3">
            <div class="menu-section">
                <h5 class="category-header">Development Tools</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="bootstrap">
                            <span class="oi oi-bold" aria-hidden="true"></span>
                            <span>Bootstrap Components</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="htmltags">
                            <span class="oi oi-tag" aria-hidden="true"></span>
                            <span>HTML Tags</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="cssproperties">
                            <span class="oi oi-project" aria-hidden="true"></span>
                            <span>CSS Properties</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="visualstudiocommandoverview">
                            <span class="oi oi-code" aria-hidden="true"></span>
                            <span>VS Commands</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="customintellisenses">
                            <span class="oi oi-code" aria-hidden="true"></span>
                            <span>Custom Intellisenses</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Voice & Speech -->
        <div class="col-12 col-lg-3">
            <div class="menu-section">
                <h5 class="category-header">Voice & Speech</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="talon-voice-command-search">
                            <span class="oi oi-microphone" aria-hidden="true"></span>
                            <span>Talon Command Search</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="talon-analysis">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                            <span>Talon Analysis</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="talon-import">
                            <span class="oi oi-cloud-upload" aria-hidden="true"></span>
                            <span>Import Talon Scripts</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="talonalphabets">
                            <span class="oi oi-tag" aria-hidden="true"></span>
                            <span>Talon Alphabet</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="formatters">
                            <span class="oi oi-wrench" aria-hidden="true"></span>
                            <span>Talon Formatters</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="microphones">
                            <span class="oi oi-microphone" aria-hidden="true"></span>
                            <span>Microphones</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Data & Management -->
        <div class="col-12 col-lg-3">
            <div class="menu-section">
                <h5 class="category-header">Data & Management</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="categoriestable">
                            <span class="oi oi-tag" aria-hidden="true"></span>
                            <span>Categories</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="generallookups">
                            <span class="oi oi-eye" aria-hidden="true"></span>
                            <span>General Lookups</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="applicationdetails">
                            <span class="oi oi-tag" aria-hidden="true"></span>
                            <span>Applications</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="transactions">
                            <span class="oi oi-transfer" aria-hidden="true"></span>
                            <span>Transactions</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="club-members">
                            <span class="oi oi-people me-2" aria-hidden="true"></span>
                            <span>Club Members</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="valuestoinsert">
                            <span class="oi oi-book" aria-hidden="true"></span>
                            <span>Values</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="tasksbreakdown">
                            <span class="oi oi-task" aria-hidden="true"></span>
                            <span>Tasks</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Commands & Examples -->
        <div class="col-12 col-lg-3">
            <div class="menu-section">
                <h5 class="category-header">Commands & Examples</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="commands">
                            <span class="oi oi-microphone" aria-hidden="true"></span>
                            <span>Commands</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="windowsspeechvoicecommands">
                            <span class="oi oi-microphone" aria-hidden="true"></span>
                            <span>Windows Commands</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="examples">
                            <span class="oi oi-microphone" aria-hidden="true"></span>
                            <span>Examples</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="grammarnames">
                            <span class="oi oi-book" aria-hidden="true"></span>
                            <span>Grammars</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="phraselistgrammars">
                            <span class="oi oi-random" aria-hidden="true"></span>
                            <span>Phrase List Grammar</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="idiosyncrasies">
                            <span class="oi oi-random" aria-hidden="true"></span>
                            <span>Idiosyncrasies</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Secondary Row for Remaining Items -->
    <div class="row g-3 mt-2">
        <!-- AI & Prompts -->
        <div class="col-12 col-lg-4">
            <div class="menu-section">
                <h5 class="category-header">AI & Prompts</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="prompts">
                            <span class="oi oi-code" aria-hidden="true"></span>
                            <span>Prompts</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="quickpromptstable">
                            <span class="oi oi-chat" aria-hidden="true"></span>
                            <span>Quick Prompts</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Demo & Testing -->
        <div class="col-12 col-lg-4">
            <div class="menu-section">
                <h5 class="category-header">Demo & Testing</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="category-select">
                            <span class="oi oi-book" aria-hidden="true"></span>
                            <span>Demo Category Select</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" href="boldselect">
                            <span class="oi oi-book" aria-hidden="true"></span>
                            <span>Demo Bold Select</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>

        <!-- External Links -->
        <div class="col-12 col-lg-4">
            <div class="menu-section">
                <h5 class="category-header">External Resources</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link compact" target="_blank"
                            href="https://www.youtube.com/channel/UCagNNvjqAX003KNIANSkGXA">
                            <span class="oi oi-video" aria-hidden="true"></span>
                            <span>YouTube Channel</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link compact" target="_blank" href="githublinks">
                            <span class="oi oi-fork" aria-hidden="true"></span>
                            <span>Github</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
