h6 {
	color:aqua
}
h3,h4 {
	color:#00AEED
}
li {
	font-size:small;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   list-style-type:square
}
/*section {
	background-image: url('/images/VisualStudioLogo.png');
	opacity: 0.01;
	background-repeat: no-repeat;
	background-size: cover;
	content: circle;
	z-index: -10;
	-moz-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}*/
section {
	position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 100%;
}

	section::after {
		content: "";
		background: url('/images/Serenade.png') no-repeat center center;
		background-size:  cover;
		opacity: 0.05;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
		-webkit-filter: grayscale(1); /* Old WebKit */
		filter: grayscale(1);
	}
.form-check-inline {
	font-size:small;
	float:right;
}

a {
	cursor:pointer;
}