@page "/serenadecommands"
<div class="background-logo">
    <section class="row">
        <div class="col-md-6">
            <h3>
                Serenade <span class="oi oi-microphone" aria-hidden="true"></span> Commands
            </h3>
        </div>
        <div class="col-md-6">
            <a href="https://serenade.ai/docs/">Serenade Documentation</a>
            @*        <span class="form-check-inline">
                <label class="control-label">Un-Check to see VB Code instead of YouTube video in the links below</label>
                <input type="checkbox" class="form-control" @bind="@ShowVideo" />
                </span>
            *@
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4><a class="" target="_blank" href="https://serenade.ai/docs/api">Serenade</a></h4>
                <h6>Navigation</h6>
                <ul>
                    <li>
                        Show Explorer
                    </li>
                    <li>go to file/symbol</li>
                    <li>GOTO matching bracket</li>
                    <li>Toggle Problems</li>
                    <li>Go Back/Forward</li>
                    <li>Last Edit</li>
                    @*                    <a @onclick="@(() => FilterCommandAsync("Last","devenv",false,"https://youtu.be/iT-7yMQoPyg?t=70"))" class="">Last</a>
                        [ Edit | Position ] /
                    *@
                    <li>Toggle Word Wrap</li>
                    <li>Toggle SIDEBAR</li>
                    <li>Toggle Terminal</li>
                    <li>Toggle Line Comment</li>
                    <li>Select Matching [number]</li>
                    <li>Show Recent</li>
                    <li class="text-muted">
                        Go to { Definition | Implementation }
                    </li>
                    <li>
                        Following / Previous { Issue | Method }
                    </li>
                    <li>{ List / List All } Bookmarks</li>
                </ul>
                <h6> Debugging</h6>
                <ul>
                    <li>
                        Toggle { Bookmark | Break point }
                    </li>
                    <li>
                        Start Application / Press F5 
                    </li>
                </ul>
                <h6>Creating/Editing</h6>
                <ul>
                    <li>
                        Advanced New File / New File
                    </li>
                    <li>
                         Line Down / Line Up &lt;#&gt;
                    </li>
                    <li>Move Line Up/Down</li>
                    <li>
                        Select Matching [&lt;#&gt;]
                    </li>
                </ul>
            </div>
            <div class="col-md-6">

                <h4>Global</h4>
                <h6> Search/Create Scripts</h6>
                <ul>
                    <li>
                        Browse Scripts &lt;dictation&gt;
                    </li>
                    <li>
                        New Application / Global Command &lt;dictation&gt;
                    </li>
                </ul>
                <h6> Voice Launcher/Custom IntelliSense Database</h6>
                <ul>
                    <li>
                        Search Union &lt;dictation&gt;
                    </li>
                    <li>
                        Cycle Apps / Switch
                    </li>
                </ul>
                <h6> Internet Browsers</h6>
                <ul>
                    <li>
                        Show Hints
                    </li>
                </ul>
                <h6> Mouse Control</h6>
                <ul>
                    <li>
                        {Left | Right | } &lt;Alpha-Zulu/1-7&gt; &lt;Alpha-Tango&gt;
                    </li>
                    <li>
                        Taskbar &lt;Alpha-Zulu/1-7&gt; &lt;Alpha-Tango&gt;
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>