@if (Show)
{

	@foreach (var listName in ListNames)
	{
		@if (!string.IsNullOrEmpty(listName) && CommandSet!.SpeechLists!.Where(l => l.Name == listName).Any())
		{
			<table class="table table-responsive-sm table-dark table-bordered">
				<tr>
					<th>
						@listName
					</th>
				</tr>
				<tr>
					<td>
						@foreach (var listValue in CommandSet.SpeechLists
						.Where(v => v.Name ==listName)
						.First().ListValues) 
						{
							@listValue?.Value_Text <span> | </span>
							_listContents=_listContents+listValue?.Value_Text + Environment.NewLine;
						}
						<button class="btn btn-outline-primary btn-sm" type="button" @onclick="@( ( ) => CopyTextToClipboard(_listContents ) )">Copy List</button>
					</td>
				</tr>
			</table>
		}
	}
}