<table class="table table-bordered table-dark">
	<tr>
		<td>
			@VoiceCommandContent!.Type
		</td>
		<td>
			@{
				var languageClass = "text-dark";
				if (VoiceCommandContent.Type.ToLower().Contains("basic") || VoiceCommandContent.Type.ToLower().Contains("script"))
				{
					languageClass = "language-visual-basic";
				}
			}
			<pre><code class="@languageClass">@VoiceCommandContent?.Content</code></pre>
		</td>
		<td>
			<button class="btn btn-primary btn-sm" type="button" @onclick="@( ( ) => CopyTextToClipboard(VoiceCommandContent!.Content) )">Copy Code</button>
		</td>
	</tr>
</table>

