@page "/githublinks"

<h1>Github</h1>
<div style="float:right"><img src="/images/github-logo-white.png" /></div>
<div class="" >
	<ul class="nav flex-column">

		<li class="nav-item px-3">
			<a class="nav-fork" target="_blank" href="https://github.com/Mark-Phillipson/VoiceLauncherBlazor">
				<span class="oi oi-fork" aria-hidden="true"></span><span>This Project</span>
			</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-fork" target="_blank" href="https://msptodolistlocal.azurewebsites.net/">
				<span class="oi oi-fork" aria-hidden="true"></span><span>PWA Demo</span>
			</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-fork" target="_blank" href="https://github.com/Mark-Phillipson/blazor-default-template/tree/master/MSPToDoList">
				<span class="oi oi-fork" aria-hidden="true"></span><span>Blazor Template</span>
			</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-fork" target="_blank" href="https://github.com/Mark-Phillipson/ControlWSR">
				<span class="oi oi-fork" aria-hidden="true"></span><span>Control Windows Speech Recognition</span>
			</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-fork" target="_blank" href="https://github.com/Mark-Phillipson/SpeechRecognitionHelpers">
				<span class="oi oi-fork" aria-hidden="true"></span><span>Speech Recognition Helpers</span>
			</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-fork" target="_blank" href="https://github.com/Mark-Phillipson/SpeechRecognitionHelpers#readme">
				<span class="oi oi-fork" aria-hidden="true"></span><span>Speech Recognition Helpers Readme</span>
			</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-fork" target="_blank" href="https://github.com/Mark-Phillipson/DragonScripts/wiki">
				<span class="oi oi-fork" aria-hidden="true"></span><span>Speech Recognition Scripts Wiki</span>
			</a>
		</li>


	</ul>
</div>