@page "/"

<h1><i class="oi oi-microphone"></i> Voice Launcher</h1>

<p>This is index.razor</p>

<p>Any number shown in brackets is the Access Key. So in the case of Microsoft Edge/Safari the keyboard shortcut is Alt+Number/Letter</p>
<p>For Firefox/Google Chrome it will be Alt+Shift+Number/Letter</p>

<p>Also any letter underlined, signifies the Access Key.</p>

