@page "/"
@inject ITodoData TodoData

<h1><i class="oi oi-microphone"></i> Voice Launcher</h1>
<br>
<h4>
    <svg width="53px" height="52px" viewBox="0 0 453 452">
        <path stroke="none" stroke-width="1" fill="#FFFF00" d="M0,222.5C0,99.625,99.875,0,223,0C346.1875,0,446,99.625,446,222.5C446,345.4375,346.1875,445,223,445C99.875,445,0,345.4375,0,222.5" />
        <path stroke="#2F528F" stroke-width="1.3125" fill="#CDCD00" d="M128.375,156C128.375,143.1875,138.75,132.8125,151.5625,132.8125C164.4375,132.8125,174.8125,143.1875,174.8125,156C174.8125,168.8125,164.4375,179.1875,151.5625,179.1875C138.75,179.1875,128.375,168.8125,128.375,156z M271.25,156C271.25,143.1875,281.625,132.8125,294.5,132.8125C307.3125,132.8125,317.6875,143.1875,317.6875,156C317.6875,168.8125,307.3125,179.1875,294.5,179.1875C281.625,179.1875,271.25,168.8125,271.25,156z" />
        <path stroke="#2F528F" stroke-width="1.3125" fill="none" d="M102.1875,319.5625C182.75,374.75,263.25,374.75,343.625,319.5625" />
        <path stroke="#2F528F" stroke-width="1.3125" fill="none" d="M0,222.5C0,99.625,99.875,0,223,0C346.1875,0,446,99.625,446,222.5C446,345.4375,346.1875,445,223,445C99.875,445,0,345.4375,0,222.5" />
    </svg>
    <a title="Click to View Profile" href="https://www.upwork.com/fl/markp2" class="btn btn-lg btn-outline-primary"><img src="https://res-3.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1458909923/jv1y1vzf06gt64m50lll.png" width="50px"></a>
    <Alert Title="Hello and Welcome" Display="To Blazor Server demonstration application!" Duration="20000" AlertType="info" Show="true" />
</h4>


<p>Any number shown in brackets is the Access Key. So in the case of Microsoft Edge/Safari the keyboard shortcut is Alt+Number/Letter</p>
<p>For Firefox/Google Chrome it will be Alt+Shift+Number/Letter</p>

<p>Also any letter underlined, signifies the Access Key.</p>

<div class="row">
    @foreach (var project in projects)
    {
        <div class="col-md-6">
            <h3>@project Todos</h3>
            <TodosPage Project="@project" />
        </div>
    }
</div>
@code
{
    public List<string> projects { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        projects = await TodoData.GetProjects();
    }

}