@page "/"
<section>

<h1>
	<i class="oi oi-microphone"></i> Voice Admin
	<svg height="54px" width="54px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
		<defs>
			<style>
				.cls-1 {
					fill: #d9e4e8;
				}

				.cls-2 {
					opacity: 0.14;
				}

				.cls-3 {
					fill: #17292d;
				}

				.cls-4 {
					fill: #ff0000;
				}
			</style>
		</defs>
		<title>podcast-microphone-filled</title>
		<path class="cls-1" d="M256,396.8a128.14,128.14,0,0,1-128-128v-128a128,128,0,0,1,256,0v128A128.14,128.14,0,0,1,256,396.8Z" />
		<g class="cls-2"><path class="cls-3" d="M256,0a139.81,139.81,0,0,0-32,3.74C286.15,18.33,332.8,74.36,332.8,140.8v128c0,66.44-46.65,122.47-108.8,137.06a139.81,139.81,0,0,0,32,3.74c77.44,0,140.8-63.36,140.8-140.8v-128C396.8,63.36,333.44,0,256,0Z" /></g>
		<path class="cls-4" d="M448,262.4a12.8,12.8,0,0,0-25.6,0c0,87.45-67.8,159.36-153.6,165.91V409c71.5-6.52,128-67.08,128-140.21v-128C396.8,63.36,333.44,0,256,0S115.2,63.36,115.2,140.8v128c0,73.13,56.5,133.69,128,140.21v19.3C157.4,421.76,89.6,349.85,89.6,262.4a12.8,12.8,0,0,0-25.6,0C64,364,143.28,447.35,243.2,454V486.4H140.8a12.8,12.8,0,0,0,0,25.6H371.2a12.8,12.8,0,0,0,0-25.6H268.8V454C368.72,447.35,448,364,448,262.4Zm-307.2,6.4h38.4a12.8,12.8,0,0,0,0-25.6H140.8V217.6h38.4a12.8,12.8,0,1,0,0-25.6H140.8V166.4h38.4a12.8,12.8,0,1,0,0-25.6H140.8a115.2,115.2,0,1,1,230.4,0H332.8a12.8,12.8,0,1,0,0,25.6h38.4V192H332.8a12.8,12.8,0,1,0,0,25.6h38.4v25.6H332.8a12.8,12.8,0,0,0,0,25.6h38.4a115.2,115.2,0,0,1-230.4,0Z" />
	</svg>
	<svg width="53px" height="52px" viewBox="0 0 453 452">
		<path stroke="none" stroke-width="1" fill="#FFFF00" d="M0,222.5C0,99.625,99.875,0,223,0C346.1875,0,446,99.625,446,222.5C446,345.4375,346.1875,445,223,445C99.875,445,0,345.4375,0,222.5" />
		<path stroke="#2F528F" stroke-width="1.3125" fill="#FF0000" d="M128.375,156C128.375,143.1875,138.75,132.8125,151.5625,132.8125C164.4375,132.8125,174.8125,143.1875,174.8125,156C174.8125,168.8125,164.4375,179.1875,151.5625,179.1875C138.75,179.1875,128.375,168.8125,128.375,156z M271.25,156C271.25,143.1875,281.625,132.8125,294.5,132.8125C307.3125,132.8125,317.6875,143.1875,317.6875,156C317.6875,168.8125,307.3125,179.1875,294.5,179.1875C281.625,179.1875,271.25,168.8125,271.25,156z" />
		<path stroke="#FF0000" stroke-width="6.9125" fill="none" d="M102.1875,319.5625C182.75,374.75,263.25,374.75,343.625,319.5625" />
		<path stroke="#FF0000" stroke-width="3.9125" fill="none" d="M0,222.5C0,99.625,99.875,0,223,0C346.1875,0,446,99.625,446,222.5C446,345.4375,346.1875,445,223,445C99.875,445,0,345.4375,0,222.5" />
	</svg>
	<a title="Click to View Profile" href="https://www.upwork.com/fl/markp2" class="btn btn-lg btn-outline-primary"><img src="https://res-3.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1458909923/jv1y1vzf06gt64m50lll.png" width="50"></a>
</h1>
<button class="btn btn-danger btn-xl" type="button">Danger XL</button>
<button class="btn btn-primary btn-lg" type="button">Primary Large</button>
<button class="btn btn-secondary" type="button">Secondary</button>
<button class="btn btn-info btn-sm" type="button">Info Small</button>
<button class="btn btn-success" type="button">Success</button>
<button class="btn btn-warning" type="button">Warning</button>

<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
<br>
<button type="button" class="btn btn-outline-danger btn-xl">Danger XL</button>
<button type="button" class="btn btn-outline-primary btn-lg">Primary Large</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-info btn-sm">Info Small</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<br>

<div class="row">
	<div class="form-group col-md-4">
		<label class="control-label">Example Label</label>
		<input type="text" placeholder="Please enter some text here" class="form-control" value="Example Input" />
	</div>
	<div class="col-md-4">
		<button type="button" class="btn btn-outline-success btn-xl">Save</button>
	</div>
</div>

<p>Any number shown in brackets is the Access Key. So in the case of Microsoft Edge/Safari the keyboard shortcut is Alt+Number/Letter</p>
<p>For Firefox/Google Chrome it will be Alt+Shift+Number/Letter</p>

<p>Also any letter underlined, signifies the Access Key.</p>

<div class="row">
	@foreach (var project in projects)
	{
		<div class="col-md-6">
			<h3>@project Todos</h3>
			<TodosPage Project="@project" />
		</div>
	}
</div>
</section>