@page "/"
@inject ITodoData TodoData

<h1><i class="oi oi-microphone"></i> Voice Launcher</h1>
<br>
<h2><Alert Title="Hello and Welcome" Display="To Blazor Server demonstration application!" Duration="20000" AlertType="info" Show="true" /></h2>
<br>
<a  href="https://www.upwork.com/fl/markp2" class="btn btn-lg btn-outline-primary">View My Upwork Profile</a>


<p>Any number shown in brackets is the Access Key. So in the case of Microsoft Edge/Safari the keyboard shortcut is Alt+Number/Letter</p>
<p>For Firefox/Google Chrome it will be Alt+Shift+Number/Letter</p>

<p>Also any letter underlined, signifies the Access Key.</p>

<div class="row">
    @foreach (var project in projects)
    {
        <div class="col-md-6">
            <h3>@project Todos</h3>
            <TodosPage Project="@project" />
        </div>
    }
</div>
@code
{
    public List<string> projects { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        projects = await TodoData.GetProjects();
    }

}