@page "/loading";
@*<div style="display:normal;margin:auto" class="loader"></div>*@


<div class="ballscontainer red">
</div>
<div class="ballscontainer blue">
</div>
<div class="ballscontainer yellow"></div>
<div class="ballscontainer violet"></div>
