@page "/overspill"

	<p>To launch more than one application at a time by voice:</p>
	<ul class="nav flex-column">
		@if (Environment.MachineName == "DESKTOP-UROO8T1")
		{
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="multiplelaunchers">
					<span class="oi oi-random" aria-hidden="true"></span> Multi-Launchers
				</NavLink>
			</li>
		}
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="tasksbreakdown">
				<span class="oi oi-task" aria-hidden="true"></span> Tasks Breakdown
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="bootstrap">
				<span class="oi oi-bold" aria-hidden="true"></span> Bootstrap Components
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCagNNvjqAX003KNIANSkGXA">
				<span class="oi oi-video" aria-hidden="true"></span><span>YouTube Channel</span>
			</NavLink>
		</li>

		<li>Any number shown in brackets is the Access Key. So in the case of Microsoft Edge/Safari the keyboard shortcut is Alt+Number/Letter</li>
		<li>For Firefox/Google Chrome it will be Alt+Shift+Number/Letter</li>

		<li>Also any letter underlined, signifies the Access Key.</li>

	</ul>

