@page "/commands"

<h3>Popular <span class="oi oi-microphone" aria-hidden="true"></span> Commands</h3>
<div class="row">
	<div class="col-md-6">
		<h4> Visual Studio <img src="/images/VisualStudioLogo.png" class="spinning-image" width="100" /></h4>
		<h6>Navigation</h6>
		<ul>
			<li>
				Last [ Edit | Position ] / Go To Containing Block
			</li>
			<li>
				Navigation { Menu | Backwards | Forwards }
			</li>
			<li>
				Navigate To | Navigate [ &lt;dictation&gt; | Blazor Component | View Model | Controller | Type | Members | Symbols | URL | Recent Files ]
			</li>
			<li>
				Go to [ Definition | Implementation ]
			</li>
			<li>
				Following / Previous { Issue | Highlight | Bookmark | Method }
			</li>
			<li>
				{Drop | Swap | Collect} Marker (CodeRush only)
			</li>
			<li>
				Jump to [Symbol | File] / [Next | Previous] Tab
			</li>
			<li>
				Search Code Location
			</li>

		</ul>
		<h6> Debugging</h6>
		<ul>
			<li>
				Toggle { Bookmark | Breakpoint}
			</li>
			<li>
				[Show/View] Bookmark Window | Show Error List | Immediate Window | Command Window | Close Tool Window | Auto Hide
			</li>
			<li>
				Start Application (Shift+F5) / Press F5 / {Build | Clean} {Project | Solution}
			</li>
		</ul>
		<h6>Creating/Editing</h6>
		<ul>
			<li>
				New Empty File / Add Existing Item / Add New Scaffolding
			</li>
			<li>
				Move into Brackets/Blank Line
			</li>
			<li>
				Expand Selection [&lt;#&gt;] / Select Matching [&lt;#&gt;]
			</li>
			<li>
				Add Class &lt;scope&gt; &lt;dictation&gt;
			</li>
			<li>
				Add Method [ &lt;scope&gt; &lt;DataType&gt; ] &lt;dictation&gt;
			</li>
			<li>
				Add { Parameter | Variable } &lt;DataType&gt; &lt;dictation&gt;
			</li>
			<li>
				Add Button &lt;ButtonClass&gt; &lt;dictation&gt;
			</li>
			<li>
				Add { Label | Link } &lt;dictation&gt;
			</li>
			<li>
				Add Input &lt;InputType&gt; &lt;dictation&gt;
			</li>
			<li>
				Generic &lt;GenericsCollection&gt; e.g. Generic I collection
			</li>
			<li>
				Quick Actions (Ctrl+.)
			</li>
		</ul>
	</div>
	<div class="col-md-6">

		<h4>Global</h4>
		<h6> Search/Create Scripts</h6>
		<ul>
			<li>
				Browse [App Name] Scripts &lt;dictation&gt;
			</li>
			<li>
				Dragon Script &lt;dictation&gt;
			</li>
			<li>
				New Dragon Scripting Command &lt;dictation&gt;
			</li>
			<li>
				New [ Application | Global | Window ] [ Mouse | Listing ] Command [&lt;dictation&gt;]
			</li>
		</ul>
		<h6> Voice Launcher/Custom IntelliSense Database</h6>
		<ul>
			<li>
				Launcher &lt;Categories&gt;
			</li>
			<li>
				Create Custom IntelliSense
			</li>
			<li>
				Edit to Do &lt;dictation&gt;
			</li>
			<li>
				Search Union &lt;dictation&gt;
			</li>
			<li>
				&lt;Language&gt; &lt;Category&gt; [&lt;dictation&gt;] / Words &lt;dictation&gt;
			</li>
		</ul>
		<ul>
			<li>
				Modern Mode/Tray Icon Mode
			</li>
			<li>
				Command Close &lt;Explorer/Word/Excel&gt;
			</li>
			<li>
				Cycle Apps
			</li>
		</ul>
	</div>
</div>
@code {

}
