@page "/commands"

<h3>Popular <span class="oi oi-microphone" aria-hidden="true"></span> Commands</h3>
<div class="row">
	<div class="col-md-6">
		<h4> Visual Studio <a target="_blank" href="https://visualstudio.microsoft.com/"><img src="/images/VisualStudioLogo.png" class="img-thumbnail rounded" width="100" /></a></h4>
		<h6>Navigation</h6>
		<ul>
			<li>
				<a href="commandsetoverview?name=Last&application=devenv">Last</a> [ Edit | Position ] / <a href="commandsetoverview?name=Go%20To%20Containing%20Block&application=devenv">Go To Containing Block</a>
			</li>
			<li>
				<a href="commandsetoverview?name=Navigation&application=devenv">Navigation Menu</a> Navigate { <a href="commandsetoverview?name=Navigate%20Backwards&application=devenv">Backwards</a> | <a href="commandsetoverview?name=Navigate%20Forwards&application=devenv">Forwards</a> }
			</li>
			<li>
				<a href="commandsetoverview?name=Navigate%20To&application=devenv">Navigate To</a> [ &lt;dictation&gt; / Navigate <a href="commandsetoverview?name=Navigate%20Blazor%20Component&application=devenv">Blazor Component</a> | <a href="commandsetoverview?name=Navigate%20View%20Model&application=devenv">View Model</a> | <a href="commandsetoverview?name=Navigate%20Controller&application=devenv">Controller</a> | <a href="commandsetoverview?name=Navigate%20Type&application=devenv">Type</a> | <a href="commandsetoverview?name=Navigate%20Members&application=devenv">Members</a> | <a href="commandsetoverview?name=Navigate%20Symbols&application=devenv">Symbols</a> | <a href="commandsetoverview?name=Navigate%20URL&application=devenv">URL</a> | <a href="commandsetoverview?name=Navigate%20Recent%20Files&application=devenv">Recent Files</a> ]
			</li>
			<li>
				<a href="commandsetoverview?name=Go%20to&application=devenv">Go to</a> [ Definition | Implementation ]
			</li>
			<li>
				Following / Previous { <a href="commandsetoverview?name=Issue&application=devenv">Issue</a> | <a href="commandsetoverview?name=Highlight&application=devenv">Highlight</a> | <a href="commandsetoverview?name=Bookmark&application=devenv">Bookmark</a> | <a href="commandsetoverview?name=Method&application=devenv">Method</a> }
			</li>
			<li>
				{Drop | Swap | Collect} <a href="commandsetoverview?name=Marker&application=devenv">Marker</a> (CodeRush only)
			</li>
			<li>
				<a href="commandsetoverview?name=Jump%20to&application=devenv">Jump to</a> [Symbol | File] / [Next | Previous] <a href="commandsetoverview?name=Tab&application=devenv">Tab</a>
			</li>
			<li>
				<a href="commandsetoverview?name=Search%20Code%20Location&application=devenv">Search Code Location</a>
			</li>

		</ul>
		<h6> Debugging</h6>
		<ul>
			<li>
				Toggle { <a href="commandsetoverview?name=Toggle%20Bookmark&application=devenv">Bookmark</a> | <a href="commandsetoverview?name=Toggle%20Breakpoint&application=devenv">Breakpoint</a>}
			</li>
			<li>
				[Show/View] <a href="commandsetoverview?name=Bookmark%20Window&application=devenv">Bookmark Window</a> | <a href="commandsetoverview?name=Show%20Error%20List&application=devenv">Show Error List</a> | <a href="commandsetoverview?name=Immediate%20Window&application=devenv">Immediate Window</a> | <a href="commandsetoverview?name=Command%20Window&application=devenv">Command Window</a> | <a href="commandsetoverview?name=Close%20Tool%20Window&application=devenv">Close Tool Window</a> | <a href="commandsetoverview?name=Auto%20Hide&application=devenv">Auto Hide</a>
			</li>
			<li>
				Start Application (Shift+F5) / Press F5 / {Build | Clean} {Project | Solution Confirm}
			</li>
		</ul>
		<h6>Creating/Editing</h6>
		<ul>
			<li>
				New Empty File / Add Existing Item / Add New Scaffolding
			</li>
			<li>
				Move into Brackets/Blank Line
			</li>
			<li>
				Expand Selection [&lt;#&gt;] / Select Matching [&lt;#&gt;]
			</li>
			<li>
				Add Class &lt;scope&gt; &lt;dictation&gt;
			</li>
			<li>
				Add Method [ &lt;scope&gt; &lt;DataType&gt; ] &lt;dictation&gt;
			</li>
			<li>
				Add { Parameter | Variable } &lt;DataType&gt; &lt;dictation&gt;
			</li>
			<li>
				Add Button &lt;ButtonClass&gt; &lt;dictation&gt;
			</li>
			<li>
				Add { Label | Link } &lt;dictation&gt;
			</li>
			<li>
				Add Input &lt;InputType&gt; &lt;dictation&gt;
			</li>
			<li>
				Generic &lt;GenericsCollection&gt; e.g. Generic I collection
			</li>
			<li>
				Quick Actions (Ctrl+.)
			</li>
		</ul>
	</div>
	<div class="col-md-6">

		<h4>Global</h4>
		<h6> Search/Create Scripts</h6>
		<ul>
			<li>
				Browse [App Name] Scripts &lt;dictation&gt;
			</li>
			<li>
				Dragon Script &lt;dictation&gt;
			</li>
			<li>
				New Dragon Scripting Command &lt;dictation&gt;
			</li>
			<li>
				New [ Application | Global | Window ] [ Mouse | Listing ] Command [&lt;dictation&gt;]
			</li>
		</ul>
		<h6> Voice Launcher/Custom IntelliSense Database</h6>
		<ul>
			<li>
				Launcher &lt;Categories&gt;
			</li>
			<li>
				Create Custom IntelliSense
			</li>
			<li>
				Edit to Do &lt;dictation&gt;
			</li>
			<li>
				Search Union &lt;dictation&gt;
			</li>
			<li>
				&lt;Language&gt; &lt;Category&gt; [&lt;dictation&gt;] / Words &lt;dictation&gt;
			</li>
		</ul>
		<ul>
			<li>
				Modern Mode/Tray Icon Mode
			</li>
			<li>
				Command Close &lt;Explorer/Word/Excel/Access/Windows Speech&gt;
			</li>
			<li>
				Cycle Open Apps / Switch
			</li>
			</ul>
		<h6> Internet Browsers</h6>
		<ul>
			<li>
				Overlay Hints / Show Hints / Hide Hints [Permanent] / Click &lt;1to200&gt;
			</li>
		</ul>
		<h6> Mouse Control</h6>
		<ul>
			<li>
				{Left | Right | (Double|Right) Click | Touch} &lt;Alpha-Zulu/1-7&gt; &lt;Alpha-Tango&gt;
			</li>
			<li>
				Taskbar | Ribbon | Menu &lt;Alpha-Zulu/1-7&gt; [&lt;1-9&gt;]
			</li>
		</ul>
	</div>
</div>
@code {

}
