
.layout-as-cards {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	text-decoration: none;
	justify-content: space-evenly;
	color:white;
		gap:10px 20px
}

.card {
	box-shadow: grey 2px 2px;
	background-color: #464646;
}

a {
	text-decoration: none;
	color: white;
	margin: 1rem;
}
