@page "/overspill"

<div class="row">
    <div class="col-6">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="multiplelaunchers">
                    <span class="oi oi-random" aria-hidden="true"></span> Multi-Launchers
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tasksbreakdown">
                    <span class="oi oi-task" aria-hidden="true"></span> Tasks Breakdown
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="bootstrap">
                    <span class="oi oi-bold" aria-hidden="true"></span> Bootstrap Components
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="savedmousepositions">
                    <span class="oi oi-command" aria-hidden="true"></span> Mouse Positions
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCagNNvjqAX003KNIANSkGXA">
                    <span class="oi oi-video" aria-hidden="true"></span><span>YouTube Channel</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink accesskey="b" class="nav-link" target="_blank" href="githublinks">
                    <span class="oi oi-fork" aria-hidden="true"></span><span>Githu<u>b</u></span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="serenadecommands">
                    <span class="oi oi-microphone" aria-hidden="true"></span> Serenade
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="grammarnames">
                    <span class="oi oi-book" aria-hidden="true"></span> Grammars
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="htmltags">
                    <span class="oi oi-tag" aria-hidden="true"></span> Html Tags
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink accesskey="g" class="nav-link" href="generallookups">
                    <span class="oi oi-eye" aria-hidden="true"></span><u>G</u>eneral Lookups
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="categoriestable">
                    <span class="oi oi-tag" aria-hidden="true"></span>Categories
                </NavLink>
            </li>

            <li>Any number shown in brackets is the Access Key. So in the case of Microsoft Edge/Safari the keyboard shortcut is Alt+Number/Letter</li>
            <li>For Firefox/Google Chrome it will be Alt+Shift+Number/Letter</li>

            <li>Also any letter underlined, signifies the Access Key.</li>

        </ul>
    </div>
    <div class="col-6">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="applicationdetails">
                    <span class="oi oi-tag" aria-hidden="true"></span>Applications
                </NavLink>
            </li>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="idiosyncrasies">
                    <span class="oi oi-random" aria-hidden="true"></span> Idiosyncrasies
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="phraselistgrammars">
                    <span class="oi oi-random" aria-hidden="true"></span> Phrase List Grammar
                </NavLink>
            </li>
        </ul>
    </div>
</div>




