<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Voice Launcher WASM</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="talon-voice-command-search">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Search Commands
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lists">
                <span class="bi bi-list-ul-nav-menu" aria-hidden="true"></span> Talon Lists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analysis">
                <span class="bi bi-graph-up-nav-menu" aria-hidden="true"></span> Analysis
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import">
                <span class="bi bi-upload-nav-menu" aria-hidden="true"></span> Import (Client)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
