@using SharedContracts.Models
<h3>Custom IntelliSense</h3>
<table class="table table-bordered table-striped" id="table1">
    <thead>
        <tr>
            <th>Language</th>
            <th>Display Value</th>
            <th>SendKeys Value</th>
            <th>Remarks</th>
            <th>Delivery Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in intelliSenses.OrderBy(o => o.DisplayValue))
        {
            <tr>
                <td>@item!.Language!.LanguageName</td>
                <td>@item.DisplayValue</td>
                <td>@item.SendKeysValue</td>
                <td>@item.Remarks</td>
                <td>@item.DeliveryType</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public CategoryDto? Category { get; set; }
    private List<CustomIntelliSenseDto> intelliSenses = new List<CustomIntelliSenseDto>();

    protected override async Task OnInitializedAsync()
    {
        // For incremental compilation keep this simple: load no server data here.
        intelliSenses = new List<CustomIntelliSenseDto>();
        await Task.CompletedTask;
    }

}
