@using SharedContracts.Models
<h3>Launchers</h3>
<table class="table table-bordered table-striped" id="table1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Command Line</th>
            <th>Computer</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in category!.Launchers?.OrderBy(o => o.Name) ?? Enumerable.Empty<LauncherDto>())
        {
<tr>
    <td>@item.Name</td>
    <td>@item.CommandLine</td>
    <td>
        @if (item.Computer != null)
        {
@item.Computer.ComputerName}
    </td>
</tr>}
    </tbody>
</table>


@code { [Parameter] public SharedContracts.Models.CategoryDto? category { get; set; } }
