.page {
	position: relative;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
}

.sidebar {
	background-image: linear-gradient(180deg, #121212 0%, #363636 70%);
}

@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
	.page {
		flex-direction: row;
	}

	.sidebar {
		width: 230px;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.main > div {
		padding-left: 0.1rem !important;
		padding-right: 1.5rem !important;
	}
}
