<div class="top-row  navbar navbar-dark bg-dark">
	<div class="top-row navbar navbar-dark">
		<button aria-label="Toggle Navigation Menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink accesskey=">" class="nav-link" href="" Match="NavLinkMatch.All" @onclick="MenuItemSelected">
				<span aria-hidden="true"><kbd class='mr-1'>></kbd></span> <span>&nbsp; Home </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="?" class="nav-link" href="globalsearch" @onclick="MenuItemSelected">
				<span aria-hidden="true"><kbd class='mr-1'>?</kbd></span> <span>&nbsp; Search </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" accesskey="£" @onclick="@(()=>LoadCategories("Launch Applications"))">
				<span aria-hidden="true"><kbd class='mr-1'>£</kbd></span> <span>&nbsp; Launch Categories </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="$" class="nav-link" href="launcherstable/0" @onclick="MenuItemSelected">
				<span aria-hidden="true"><kbd class='mr-1'>$</kbd></span> <span>&nbsp; Launches </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="launchersfavourites" accesskey="%" @onclick="MenuItemSelected">
				<span aria-hidden="true"><kbd class='mr-1'>%</kbd></span> <span>&nbsp; Favorites </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="*" class="nav-link" href="languages" @onclick="MenuItemSelected">
				<span aria-hidden="true"><kbd class='mr-1'>*</kbd></span> <span>&nbsp; Languages </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" accesskey="(" @onclick="@(()=>LoadCategories("IntelliSense Command"))">
				<span aria-hidden="true"><kbd class='mr-1'>(</kbd></span> <span>&nbsp; Snippet Category </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="!" class="nav-link" href="intellisenses" @onclick="MenuItemSelected">
				<span aria-hidden="true"><kbd class='mr-1'>!</kbd></span> <span>&nbsp; Snippets </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="/" class="nav-link" href="formatters">
				<span aria-hidden="true"><kbd class='mr-1'>/</kbd></span> <span>&nbsp; Formatters </span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="=" class="nav-link" href="cursorlesscheatsheetitems">
				<span aria-hidden="true"><kbd class='mr-1'>=</kbd></span> <span>&nbsp; Cursorless </span>
			</NavLink>
		</li>
		@if (Environment.MachineName == "J40L4V3")
		{
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="googlecalendar" accesskey=")" @onclick="MenuItemSelected">
					<span aria-hidden="true"><kbd class='mr-1'>)</kbd></span> <span>&nbsp; Calendar </span>
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="overspill" accesskey="^" @onclick="MenuItemSelected">
					<span aria-hidden="true"><kbd class='mr-1'>^</kbd></span> <span>&nbsp; More ... </span>
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink accesskey="&" class="nav-link" href="todos" @onclick="MenuItemSelected">
					<span aria-hidden="true"><kbd class='mr-1'>&</kbd></span> <span>&nbsp; Todo </span>
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="chat">
					<span class="oi oi-chat" aria-hidden="true"></span> AI Chatbot
				</NavLink>
			</li>
		}
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="smart-components">
				<span class="oi oi-code" aria-hidden="true"></span> AI Smart Components
			</NavLink>
		</li>
	</ul>
</div>
