@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using VoiceLauncherBlazor.Shared
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="content px-4">
			@Body
		</div>
	</div>

</div>
