<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">Voice Admin</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink accesskey="h" class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> <u>H</u>ome
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="a" class="nav-link" href="launchers">
				<span class="oi oi-aperture" aria-hidden="true"></span> L<u>a</u>unchers
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="multiplelaunchers">
				<span class="oi oi-medical-cross" aria-hidden="true"></span> Multi-Launchers
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="o" class="nav-link" href="todos">
				<span class="oi oi-task" aria-hidden="true"></span> Tod<u>o</u>s
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="l" class="nav-link" href="languages">
				<span class="oi oi-microphone" aria-hidden="true"></span> <u>L</u>anguages
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="c" class="nav-link" href="categories">
				<span class="oi oi-book" aria-hidden="true"></span> <u>C</u>ategories
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="i" class="nav-link" href="intellisenses">
				<span class="oi oi-plus" aria-hidden="true"></span> <u>I</u>ntelliSense
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="g" class="nav-link" href="generallookups">
				<span class="oi oi-eye" aria-hidden="true"></span><u>G</u>eneral Lookups
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="b" class="nav-link" target="_blank" href="https://github.com/Mark-Phillipson/VoiceLauncherBlazor">
				<span class="oi oi-browser" aria-hidden="true"></span><span>Githu<u>b</u></span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="b" class="nav-link" target="_blank" href="https://msptodolistlocal.azurewebsites.net/">
				<span class="oi oi-bookmark" aria-hidden="true"></span><span>PWA Demo</span>
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink accesskey="b" class="nav-link" target="_blank" href="https://github.com/Mark-Phillipson/blazor-default-template/tree/master/MSPToDoList">
				<span class="oi oi-browser" aria-hidden="true"></span><span>Github</span>
			</NavLink>
		</li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
