<hr>
<div class="dialog-title">
    <h3>@Title</h3>
</div>
<hr>
<form class="dialog-body">
    <div class="font-weight-bold">
        @Message
    </div>
</form>
<hr>
<div class="dialog-mp-footer">
    <div class="dialog-buttons">
            <i class="@Icon text-@ButtonColour m-3" style="font-size:xx-large"></i>
        <div class="btn-group btn-group-lg" style="float:right">
            <button accesskey="n" @ref="CancelButton" class="btn btn-secondary btn-lg mr-auto" style="float:right"
                    @onclick="@OnCancel">
                Ca<u>n</u>cel
            </button>
            <button accesskey="m" class="btn btn-@ButtonColour btn-lg ml-auto" style="float:right" @onclick="@OnConfirm">Confir<u>m</u></button>
        </div>
    </div>
</div>
@code {
    [Parameter] public string Title { get; set; } = "Please Confirm";
    [Parameter] public string? Message { get; set; }
    [Parameter] public string ButtonColour { get; set; } = "danger";
    [Parameter] public string? Icon { get; set; } = "fas fa-question";
    [CascadingParameter] BlazoredModalInstance? ModalInstance { get; set; }
    ElementReference CancelButton;
    void OnCancel()
    {
        ModalInstance?.CancelAsync();
    }
    void OnConfirm()
    {
        ModalInstance?.CloseAsync(ModalResult.Ok(true));
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CancelButton.FocusAsync();
        }
    }

}